html {
    background-color: #E8E9EA;
    font-family: Roboto Mono, monospace;
    font-size: 16px;
    color: black;
    margin: 1rem 20%;
}

/*Header styles*/

header {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.title {
    display: flex;
    flex-direction: column;
}

.title h1 {
    margin-bottom: 2px;
    font-size: 2rem;
}

.title h2 {
    margin-top: 2px;
    font-style: italic;
    font-weight: 300;
    font-size: 1.5rem;
}

header nav {
    display: flex;

}

header nav ul {
    display: flex;
}

header nav ul li {
    padding: 1rem;
    list-style-type: none;
}

a {
    color: black;
}

/*Screen size adjustments*/


/*About Me Section*/

.aboutme {
    display: flex;
}

.aboutmecontainer {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.aboutmeimgcontainer {
    display: flex;
    width: 40%;
}